<h1>Productos en tiempo real</h1>

<div id="products">
  {{#each products}}
    <div style="border:1px solid #ccc; padding:10px; margin:10px 0;">
      <h3>{{this.title}}</h3>
      <p>$ {{this.price}}</p>
      <p>{{this.category}}</p>
    </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>
